---
import { Icon } from 'astro-icon';
import Container  from '../core/Container.astro';
import LittleSticksPlug from './LittleSticksPlug.astro';

const { footerSocials, footerLists, copyrightName, background, color, showLittleSticksPlug = true } =
  Astro.props;
---

<footer
  style={background && `--footer-bg:${background}; --footer-color:${color}`}
>
  <Container>
    <div class="footer-grid__container">
      <div class="footer-brand__container">
        <div>
          <slot name="logo" />
        </div>
        <ul class="footer-socials__list">
          {
            footerSocials.map((social) => (
              <li class="footer-socials__item">
                <a
                  href={social.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer-socials__link"
                  title={`Open ${social.name} profile`}
                >
                  <Icon name={social.icon} width="24px" height="24px" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      {
        footerLists.map((list) => (
          <div>
            <p><strong>{list.title}</strong></p>
            <ul class="footer-link__list">
              {list.items.map((item) => (
                <li>
                  <a href={item.slug}>{item.title}</a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <div class="footer-copyright__container">
      <p>Copyright &copy; {new Date().getFullYear()} {copyrightName}</p>
      {showLittleSticksPlug && <LittleSticksPlug/>}
    </div>

  </Container>
</footer>

<style>
  footer {
    --footer-bg: var(--theme-primary);
    --footer-color: var(--theme-on-primary);
    min-height: 40vh;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    border-top-left-radius: var(--theme-shape-radius);
    border-top-right-radius: var(--theme-shape-radius);
  }
  .footer-grid__container {
    padding: 10vh 0 1rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .footer-socials__list {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  .footer-socials__item {
    margin-right: 0.5rem;
  }
  .footer-link__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer-link__list li {
    margin-bottom: 0.5rem;
  }
  .footer-link__list li a {
    text-decoration: none;
  }
  .footer-link__list li a:hover {
    opacity: 0.84;
  }
  .footer-copyright__container {
    display: flex;
    justify-content: space-between;
  }
  .footer-copyright__container p {
    font-size: var(--font-size-sm);
  }
  @media (max-width: 768px) {
    .footer-grid__container :first-child {
      grid-column: 1/-1;
    }
    .footer-grid__container {
      padding: 5vh 0;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  @media (max-width: 600px) {
    .footer-grid__container {
      padding: 5vh 0;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .footer-copyright__container {
      flex-direction: column;
    }
  }
</style>
