---
import Layout from '../../../layouts/Page.astro'
import { Container } from '@components/odyssey-theme';
import {generateTagData} from '../../../utils/helpers.js'


export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.mdx');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
  const allCategoriesUnique = new Set();
  
  sortedPosts.forEach(post => {
    post.frontmatter.tags && post.frontmatter.tags.map(tag => {
      allCategoriesUnique.add(tag);
    })
  })
  
  const allCategoriesData = generateTagData(allCategoriesUnique);
   // map through the categories array
  return allCategoriesData.map((tag) => {
    // filter the posts that match the given category
    const posts = sortedPosts.filter((post) => post.frontmatter.tags.includes(tag.title))
      return {
      params: {slug: tag.slug}, 
      props: {
        tag: tag.title, 
        posts: posts
      }
    };
  });
}

const {tag, posts} = Astro.props;

const seo ={
  title: `${tag} | Astro Odyssey`,
}
---

<Layout seo={seo}>
  <Container narrow>
    <section class="tag-page__section"> 
      <h1>Posts Tagged with "{tag}"</h1>
      <ul>
        {posts.map(post => (
          <li><a href={post.url}>{post.frontmatter.title}</a></li>
        ))}
      </ul>
    </section>
  </Container>
</Layout>

<style>
.tag-page__section {
  min-height: 60vh;
  margin: var(--section-margin);
}
</style>